<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script
      src='https://kit.fontawesome.com/64d58efce2.js'
      crossorigin='anonymous'
    ></script>
    <link
      href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link rel='stylesheet' href='/assets/contractor/signup.css' />
    <link rel='stylesheet' href='loader.css' />

    <title>Sign in & Sign up Form</title>
  </head>
  <body onload='myFunction()' style='margin: 0'>
    {{{body}}}
    <script src='/assets/js/signup.js'></script>
    {{! <script src='/FRONTEND/contractorsignup/login.js'></script> }}
  </body>
  <script src='/assets/contractor/home.js'></script>
  <script>
    var myVar; function myFunction() { myVar = setTimeout(showPage, 2000); }
    function showPage() { document.getElementById('loader').style.display =
    'none'; document.getElementById('myDiv').style.display = 'block'; }
  </script>
</html>