<div class='grid-item'>
  <img
    src='/FRONTEND/Style/photo/beautiful-bungalow-house-design-ideas-18.png'
    alt=''
  />
  <input
    onClick="window.location.href='http://127.0.0.1:5501/FRONTEND/viewprofile/view.html'"
    class='bt-edit'
    type='button'
    value='View Profile'
  />
</div>