<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'
      rel='stylesheet'
    />

    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' />

    <script
      src='https://kit.fontawesome.com/64d58efce2.js'
      crossorigin='anonymous'
    ></script>
    <script src='jquery-2.1.4.js'></script>

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/assets/client/Style.css' />
    <link rel='stylesheet' href='/assets/client/Home.css' />
    <link rel='stylesheet' href='/assets/client/footer.css' />
    <link rel='stylesheet' href='loader.css' />

    <script src='loader.js'></script>

    <title>ReContractor</title>
  </head>
  <body onload='myFunction()' style='margin: 0'>
    {{{body}}}

    <script src='/assets/js/home.js'></script>
    <script>
      var myVar; function myFunction() { myVar = setTimeout(showPage, 2000); }
      function showPage() { document.getElementById('loader').style.display =
      'none'; document.getElementById('myDiv').style.display = 'block'; }
    </script>
  </body>
</html>