<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://kit.fontawesome.com/64d58efce2.js'
      crossorigin='anonymous'
    ></script>
    <link rel='stylesheet' href='/assets/client/Style.css' />
    <link rel='stylesheet' href='/assets/client/clientupdate.css' />

    <title>Edit Profile</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src='/assets/js/home.js'></script>
  <script src='/assets/js/cprofile.js'></script>
</html>