<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link
      href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&family=Vujahday+Script&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'
      rel='stylesheet'
    />

    <link rel='stylesheet' href='/assets/client/Style.css' />
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' />
    <link rel='stylesheet' href='/assets/client/view.css' />
    <link rel='stylesheet' href='/assets/contractor/profilecon.css' />

    <title>View Profile</title>
  </head>
  <body>
    {{{body}}}
    <script>
      function openForm() { document.getElementById('myForm').style.display =
      'block'; } function closeForm() {
      document.getElementById('myForm').style.display = 'none'; }
    </script>
    <script src='/assets/js/cprofile.js'></script>
    <script src='/assets/js/profilecon.js'></script>
    <script src='/assets/js/viewdetailsprofile.js'></script>

  </body>
</html>