<div class='column nature'>
  <div class='content'>
    <img
      src='/FRONTEND/Style/photo/beautiful-bungalow-house-design-ideas-18.png'
      alt='Mountains'
      class='i'
      style='width:100%'
    /><br />
    <div class='edit'>
      <input
        onclick="document.getElementById('id01').style.display='block'"
        class='bt-edit'
        type='button'
        value='EDIT'
      />
    </div>
  </div>
</div>